<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618677383104-555qmpcu6o9fg4ud5v01ufftrco0i4ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618677383104-555qmpcu6o9fg4ud5v01ufftrco0i4ol</string>
	<key>API_KEY</key>
	<string>AIzaSyDFClk0y3b1w9jssbE_OzanmqQzwkmamQs</string>
	<key>GCM_SENDER_ID</key>
	<string>618677383104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryapp</string>
	<key>PROJECT_ID</key>
	<string>grocery-shop-8e317</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-shop-8e317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618677383104:ios:2812bfedb23c9c9b852225</string>
</dict>
</plist>